* {
    background-color: #B8E2F2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-side {
    display: flex;
}

.blog-item {
    display: flex;
    align-items: start;
    gap: 12px;
}

.blog-img {
    width: 300px;
    height: auto;
}

.blog-text {
    flex: 1;
}

p {
    width: 60%;
}